body {
    background-color: lightskyblue;
    color: black;
    
}
.heading {
    font-family: 'Bungee Shade', cursive;
}
 
.main {
    width: 50vw;
    margin: auto;
    padding: 30px;
    border-radius: 5px;
    background-color:rgba(14, 11, 232, 0.328);
    color: white;
}

label {
    font-size: 30px;
    color: darkblue;
}
option {
    color: blue;
}

button {
    width: 200px;
    color:blue
}
input, select {
    color:blue
}
 
#finalAmount {
    font-family: 'Bungee Shade', cursive;
    display: none;
    margin: 50px auto;
}
 
#finalAmount h2 {
    font-size: 50px;
}
 
.finalValue {
    font-family: 'Bungee Shade', cursive;
    color:blue
}
h2 {
    font-family: 'Bungee Shade', cursive;
    color:blue
}

@media (max-width: 768px) {
    hr {
        width: 60%;
    }
 
    .main {
        width: 100%;
    }
}
 
@media (max-width: 400px) {
    .heading {
        font-size: 60px;
    }
 
    hr {
        width: 75%;
    }
 
    #finalAmount h2,
    .finalValue {
        font-size: 40px;
    }
}